
.app_title {
    margin: 2rem;
}

.wrapper {
    margin: auto;
    width: 50%;
    border-style: solid;
    border-color: gray;
}

h1 {
    text-align: center;
    color: #0dcaf0;
}
.title {
    margin-top: 2rem;
    width: 100%;
}

form input {
    margin-bottom: 2rem;
}

#post {
    margin-bottom: 2rem;
    width: 100%;
}

.checkbox {
    text-align: center;
}

.post_btn_area {
    text-align: center;
}

.post_btn {
    padding: 0.6rem 6rem !important;
}

.posts_wrapper {
    margin: auto;
    width: 50%;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: solid;
    border-bottom: solid;
    border-color: gray;
}

.images {
    display: flex;
}

.images img {
    width: 33%;
    padding: 1rem;
}

.category {
    display: flex;
}

.category p {
    background-color: #0dcaf0;
    margin-left: 1rem;
    border-radius: 30px;
}

.upload_message {
    color: red;
}
