body {

}

.app_title {
    margin: 2rem;
}

.wrapper {
    margin: auto;
    width: 50%;
    border-style: solid;
    border-color: gray;
}

h1 {
    text-align: center;
    color: aquamarine;
}
.title {
    margin-top: 2rem;
    width: 100%;
}

form input {
    margin-bottom: 2rem;
}

#post {
    margin-bottom: 2rem;
    width: 100%;
}

.checbox {
    text-align: center;
}

.post_btn_area {
    text-align: center;
}

.post_btn {
    padding: 0.6rem 6rem !important;
}
